.logo img {
    width: 50px;
    height: 50px;
}

/* ~: */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: #001429;
    padding: 0.9rem 0.8rem;
    transition: width 0.5s ease;
}

.sidebar.open ~ .main-content{
    left: 300px;
    width: calc(100% - 300px);
}

.sidebar.open {
    width: 300px;
}

.sidebar #btn {
    position: absolute;
    color:#fff;
    top: .8rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: left 0.5s ease;
}

.sidebar.open #btn{
    margin-top: 5px;
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease;
 }
.sidebar.open .top .logo {
    opacity: 1; 
 }

 .top .logo img {
    margin-right: 10px;
    margin-left: 10px;
 }


 .sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem 0.4rem;
    line-height: 50px;
    transition: all 0.5s ease;
    }
    
.sidebar ul li .nav-link{
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius:0.8rem;
}

.sidebar ul li .nav-link span{
    color: #ffffff;
}



.sidebar ul li .nav-link .icon {
    min-width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    transition: all 0.3s ease;
}

.sidebar .nav-item {
    display: inline-block; /* Ensure it takes space even when hidden */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar.open .nav-item {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.s; /* Delay the text appearance */
}

.sidebar ul li .nav-link {
    display: flex;
    align-items: center;
    
    text-decoration: none;
    color: #ffffff;
    border-radius: 0.8rem;
    height: 50px;
    margin-left: -5px;
    transition: all 0.3s ease;
}

.sidebar ul li .icon {
    border-radius: 12px;
    padding-top: 5px;
}

.bg-blue{
    background-color:#1990FE;
}

.sidebar.open ul li .nav-link:hover {
    background-color:#1990FE;
}
.sidebar ul li .icon:hover {
    background-color:#1990FE;
}


.main-content {
    position: relative;
    min-height: 100vh;
    transition: all 0.5s ease;
    left: 80px;
    width: calc(100% - 80px);
    background-color: #F5F7F9;
}



.flex {
    display: flex;
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.topbar-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px 20px ;
  }

  .tradingview-widget-container__widget{
    display: flex;
    gap: 20px;
    min-width: 20px;
  }

  .label__link-dzbd7lyV{
    display: none;
  }

  .Best-stocks{
    align-self:start;
  }

  .stock-list-top-bar{
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
    border: 1px solid rgb(216, 216, 216);
    padding: 20px;
    border-radius: 20px;
  }

  .stock-list-top-bar::-webkit-scrollbar {
    display: none;
}

.viewchart{
    padding: 10px;
    margin: 10px 20px ;
}