.upper{
    margin-top: 20px;
    gap: 20px;
}

.tradingviewchart{
    background: #ffffff;
    padding: 15px 15px 0 15px;
    border-radius: 20px;
}

.gauge-chart{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 615px;
    width: 400px;
    background:white;
    border-radius: 20px;
}
#highcharts-qsr5rt8-0{
    width:400px
}
.last-updated{
    align-self: flex-end;
    padding-right: 20px;
    color: #999999;
    font-size: 16px;
}

#sentiment{
    font-size: 20px;
    margin-top: -20px;
}
.red{
    color: #FE3F3F;
}

.green {
    color: #77B900;
}

.yellow{
    color: #FFC700;
}
