
.single-stock{
    min-width: 300px;
    width: 1450px;
    height: 100px;
    background: #ffffff;
    box-shadow: 0px 2px 10px  rgba(0,0,0,0.16);
    border-radius: 10px;
    align-items: center;
    gap: 0px;
    padding: 0 20px;
    justify-content: space-between;
    cursor: pointer;
}
.apexcharts-yaxis-label{
    display: none;
}
.chart{
    width: 200px;
    height: 70px;
    stroke-width: 3px;
    stroke: #77B900;
    fill: "none";
    align-items: center;
}

.logo-list{
    align-items: center;
}
.logo-list img{
    border-radius: 50px;
    margin: 5px;
}

.highcharts-credits{
    display: none;
}

.sentiment-analysis{
    font-size: 13px;
}

.sentiment-text{
    padding-left: 20px;
    color: #6D6D6D;
}

.buy-or-sell{
    align-self: center;
}

.Sell{
    color: rgb(255, 7, 77);
}
.Buy{
    color: rgb(1, 127, 250);
}

.date{
    padding-left: 20px;
    color: #6D6D6D;
}

.blue{
    color: rgb(1, 127, 250);
}

.security{
    white-space: nowrap; 
    width: 170px;
    text-overflow: ellipsis; 
}