.topnav {
    overflow: hidden;
    justify-content: space-between;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.main-bar{
    position: relative;
    transition: all 0.5s ease;
    background-color: #F5F7F9;
    left: 300px;
    width: calc(100% - 300px);
}

.sidebar.open .main-ba{
    left: 300px;
    width: calc(100% - 300px);
}

.topnav img {
    width: 40px;
    height: 40px;
}

.profile{
    gap: 10px;
}
.username{
    margin-right:30px ;
}

.search input{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    width: 360px;
    background-image: url("../images/images.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px;
    padding: 12px 20px 12px 40px;
    background-color: #FAFBFC;
}


.search input::placeholder{
    font-size: 14px;
}

.dash{
    background: #B4BBCB;
    width: 1px;
}
